<tr>
  <td>
    <%= rehearsal.time.strftime("%B %-d, %Y") %> at <%= rehearsal.time.strftime("%k:%M")%>
  </td>
  <td>
    <%= link_to rehearsal.event.name, rehearsal_path(rehearsal) %>
  </td>
  <td>
    <%= rehearsal.venue %>
  </td>
</tr>
